@using SmartRental.Models.Entites
@model IEnumerable<Apartment>

@{
    ViewData["Title"] = "My Apartments";
}

<section class="apartments-section">

    <h2 class="section-title">
        My Apartments
    </h2>

    <div class="cards-grid">

        @foreach (var item in Model)
        {
            var imageUrl =
            item.Photos != null && item.Photos.Any()
            ? item.Photos.First().PhotoUrl
            : "/images/no-image.jpg";

                <div class="card">

                    <img src="@imageUrl"
                         class="card-img" />

                    <h3>
                    @item.City - @item.StreetName
                    </h3>

                    <p>
                    @item.Description
                    </p>

                    <div class="info">
                        <span>Rooms: @item.Rooms</span>
                        <span>Baths: @item.Bathrooms</span>
                        <span>Max: @item.MaxTenants</span>
                        <span>Floor: @item.FloorNumber</span>
                    </div>

                    <div class="price">
                    @item.Price EGP
                    </div>
@* 
                    <a asp-action="OwnerDetails"
                       asp-route-id="@item.Id"
                       class="btn-card">
                        View Details
                    </a> *@
                    <a asp-controller="Home"
   asp-action="Details"
   asp-route-id="@item.Id"
   class="btn-card">
    View Details
</a>
 @*                    <a asp-controller="Home"
   asp-action="Details"
   asp-route-id="@apartment.Id"
   class="btn-card">
    View Details
</a> *@

                </div>
        }

    </div>

</section>