@model IEnumerable<SmartRental.Models.Entites.Apartment>

@{
    ViewData["Title"] = "Home Page";
    bool isLoggedIn = ViewBag.IsLoggedIn ?? false;
}

<div class="page-wrapper">

   
        <section class="hero">
            <img src="~/images/hero.jpg" class="hero-img" />

            <div class="hero-overlay"></div>

            <div class="hero-content">
                <h1>Find Your Perfect Student Home</h1>
                <p>Safe, Affordable Housing Near Your University</p>
            @if (!isLoggedIn)
            {
                <div class="hero-actions">
                    <a href="/Account/Login" class="btn-primary-custom">Login</a>
                    <a href="/Account/Register" class="btn-outline-custom">Sign Up</a>
                </div>
            }
            </div>
        </section>
   

    <section id="properties"  class="apartments-section">
        
        <h2 class="section-title">Available Apartments</h2>

        <div class="cards-grid">

           @*  @foreach (var item in Model)
            {
                <div class="card">
                    <h3>@item.City - @item.StreetName</h3>
                    <p>@item.Description</p>

                    <div class="info">
                        <span>Rooms: @item.Rooms</span>
                        <span>Baths: @item.Bathrooms</span>
                        <span>Max: @item.MaxTenants</span>
                    </div>

                    <div class="price">@item.Price EGP</div>

                    <a href="#" class="btn-card">View Details</a>
                </div>
            } *@
            @* @foreach (var item in Model)
            {
                <div class="card">

                    @if (item.Photos != null && item.Photos.Any())
                    {
                        <img src="@item.Photos.First().PhotoUrl"
                             class="card-img" />
                    }

                    <h3>@item.City - @item.StreetName</h3>

                    <p>@item.Description</p>

                    <div class="info">
                        <span>Rooms: @item.Rooms</span>
                        <span>Baths: @item.Bathrooms</span>
                        <span>Max: @item.MaxTenants</span>
                    </div>

                    <div class="price">@item.Price EGP</div>

                    <a href="#" class="btn-card">
                        View Details
                    </a>

                </div>
            } *@
            @foreach (var item in Model)
            {
                var modalId = $"apartmentModal{item.Id}";

                <div class="card">

                    @{
                        var imageUrl = item.Photos != null && item.Photos.Any()
                        ? item.Photos.First().PhotoUrl
                        : "/images/no-image.jpg";
                    }

                    <img src="@imageUrl" class="card-img" />

                    <h3>@item.City - @item.StreetName</h3>

                    <p>@item.Description</p>

                    <div class="info">
                        <span>Rooms: @item.Rooms</span>
                        <span>Baths: @item.Bathrooms</span>
                        <span>Max: @item.MaxTenants</span>
                    </div>

                    <div class="price">
                        @item.Price EGP
                    </div>

                    
                    <a asp-controller="Home"
                       asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn-card">
                        View Details
                    </a>

                </div>



                
            }


        </div>
    </>

</div>