<h2>Admin Dashboard</h2>

<div class="row">

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Owners</h4>
            <h2>@ViewBag.OwnersCount</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Tenants</h4>
            <h2>@ViewBag.TenantsCount</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Apartments</h4>
            <h2>@ViewBag.ApartmentsCount</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Contracts</h4>
            <h2>@ViewBag.ContractsCount</h2>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h4>University</h4>
            <h2>@ViewBag.UniversitiesCount</h2>
        </div>
    </div>

</div>